body {
    text-align: center;
    background: url(http://mrnussbaum.com/calendarclowns1/images/game_background.png);
    background-size: 1000px 800px;
}
div{
    font-family: cursive;
    font-size: 25px;
}